In [8]:
import pandas as pd

# 假设CSV文件位于当前工作目录中，文件名为"data.csv"
df = pd.read_csv('summerOly_athletes.csv')

filtered_df = df[df['Year'].isin([2016, 2020,2024])]

In [9]:
print(filtered_df)

                   Name Sex               Team  NOC  Year            City  \
34        Andreea Aanei   F            Romania  ROU  2016  Rio de Janeiro
77         Nstor Sanjun   M              Spain  ESP  2016  Rio de Janeiro
78         Nstor Sanjun   M              Spain  ESP  2016  Rio de Janeiro
79         Nstor Sanjun   M              Spain  ESP  2016  Rio de Janeiro
80         Nstor Sanjun   M              Spain  ESP  2016  Rio de Janeiro
...                 ...  ..                ...  ...   ...             ...
252560       Sefora Ada   F  Equatorial Guinea  GEQ  2024           Paris
252561  Emanuela Liuzzi   F              Italy  ITA  2024           Paris
252562     Isayah Boers   M        Netherlands  NED  2024           Paris
252563      Kevin Staut   M             France  FRA  2024           Paris
252564  Charlie Carvell   M      Great Britain  GBR  2024           Paris

                Sport                                    Event     Medal
34      Weightlifting  Weightlifting Women's Super-Heavyweight  No medal
77         Gymnastics   Gymnastics Men's Individual All-Around  No medal
78         Gymnastics          Gymnastics Men's Floor Exercise  No medal
79         Gymnastics           Gymnastics Men's Parallel Bars  No medal
80         Gymnastics          Gymnastics Men's Horizontal Bar  No medal
...               ...                                      ...       ...
252560      Athletics                             Women's 100m  No medal
252561      Wrestling                   Women's Freestyle 50kg  No medal
252562      Athletics                     4 x 400m Relay Mixed      Gold
252563     Equestrian                             Jumping Team    Bronze
252564      Athletics                     Men's 4 x 400m Relay    Bronze

[43701 rows x 9 columns]

In [10]:
# 将筛选后的数据保存为xlsx文档
filtered_df.to_excel('filtered_data.xlsx', index=False)

In [12]:
unique_values_of_countres = filtered_df['NOC'].unique()
# 显示结果
print(unique_values_of_countries)

['ROU' 'ESP' 'ITA' 'AZE' 'FRA' 'ALG' 'BRN' 'NED' 'IRQ' 'IRL' 'USA' 'EGY'
 'IRI' 'BEL' 'CMR' 'KAZ' 'BRU' 'UZB' 'TJK' 'RUS' 'CAN' 'GER' 'MEX' 'ETH'
 'SRI' 'ARM' 'KEN' 'NGR' 'BRA' 'AUS' 'CHI' 'SUI' 'BLR' 'GUY' 'GEO' 'POR'
 'COL' 'DJI' 'JOR' 'PLE' 'KSA' 'IND' 'GHA' 'HON' 'ESA' 'VEN' 'ARG' 'TKM'
 'JPN' 'SKN' 'GBR' 'NZL' 'TUR' 'ERI' 'UGA' 'MGL' 'LTU' 'NAM' 'KGZ' 'PUR'
 'MAS' 'SAM' 'ANG' 'RSA' 'GRE' 'NOR' 'CUB' 'PAR' 'INA' 'BAN' 'CIV' 'TTO'
 'CHN' 'SGP' 'MAR' 'SWE' 'UKR' 'TUN' 'IOA' 'OMA' 'QAT' 'UAE' 'MDA' 'MRI'
 'BUL' 'SRB' 'VIN' 'AUT' 'NIG' 'CRC' 'SUD' 'MAD' 'PAK' 'CHA' 'BIH' 'PHI'
 'CAY' 'SYR' 'JAM' 'EST' 'SEY' 'ECU' 'PAN' 'GAB' 'BAH' 'ISR' 'THA' 'BOT'
 'ROT' 'KOR' 'DEN' 'CPV' 'POL' 'DOM' 'HUN' 'CZE' 'BEN' 'URU' 'LAT' 'AND'
 'CYP' 'COM' 'LBA' 'HKG' 'LCA' 'MOZ' 'FSM' 'TOG' 'MTN' 'YEM' 'CRO' 'ANT'
 'AFG' 'MKD' 'SVK' 'GUI' 'FIJ' 'LIB' 'MNE' 'GUA' 'PNG' 'ZIM' 'GAM' 'SLO'
 'BAR' 'COK' 'MLT' 'NEP' 'STP' 'CGO' 'CAF' 'SEN' 'PER' 'NRU' 'GBS' 'LAO'
 'RWA' 'TLS' 'ALB' 'LUX' 'HAI' 'BOL' 'FIN' 'TPE' 'GRN' 'ZAM' 'MAW' 'PRK'
 'CAM' 'ISV' 'MLI' 'MHL' 'MON' 'PLW' 'VIE' 'BER' 'DMA' 'GEQ' 'TGA' 'SOL'
 'BDI' 'KOS' 'ISL' 'IVB' 'SSD' 'LIE' 'TAN' 'MYA' 'GUM' 'MDV' 'SLE' 'BIZ'
 'ASA' 'COD' 'BHU' 'KIR' 'BUR' 'SUR' 'LBR' 'NCA' 'LES' 'VAN' 'ARU' 'SWZ'
 'SOM' 'SMR' 'TUV' 'ROC' 'KUW' 'EOR' 'LBN' 'AIN']

In [13]:
unique_values_of_sports = filtered_df['Sport'].unique()
# 显示结果
print(unique_values_of_sports)

['Weightlifting' 'Gymnastics' 'Athletics' 'Rowing' 'Taekwondo' 'Handball'
 'Boxing' 'Equestrianism' 'Cycling' 'Volleyball' 'Diving' 'Shooting'
 'Judo' 'Football' 'Synchronized Swimming' 'Wrestling' 'Fencing'
 'Swimming' 'Badminton' 'Rugby Sevens' 'Table Tennis' 'Water Polo'
 'Trampolining' 'Basketball' 'Triathlon' 'Modern Pentathlon' 'Sailing'
 'Beach Volleyball' 'Golf' 'Rhythmic Gymnastics' 'Archery' 'Hockey'
 'Canoeing' 'Tennis' 'Cycling Road' 'Artistic Gymnastics' 'Karate'
 'Baseball/Softball' 'Trampoline Gymnastics' 'Marathon Swimming'
 'Canoe Slalom' 'Surfing' 'Canoe Sprint' 'Cycling BMX Racing' 'Equestrian'
 'Artistic Swimming' 'Cycling Track' 'Skateboarding'
 'Cycling Mountain Bike' '3x3 Basketball' 'Cycling BMX Freestyle'
 'Sport Climbing' 'Marathon Swimming, Swimming' 'Breaking'
 'Cycling Road, Cycling Track' 'Cycling Road, Cycling Mountain Bike'
 'Cycling Road, Triathlon' '3x3 Basketball, Basketball']

In [ ]:
# 对这个列表进行排序
sorted_unique_values_of_sports = sorted(unique_values_of_sports)

# 显示排序后的结果
print(sorted_unique_values_of_sports)